<h1>New Message:</h1>

<%= form_tag "/messages", method: :post do %>
	<div>
		Title: <input type="text" name="title">
	</div>
	<div>
		Body: <input type="text" name="body">
	</div>
	<input type="submit" value="Create Message">
<% end %>